a:link {
    color:white;
    background-color: transparent;
}

.barraD {
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.linksDiregacao {
    display: flex;
    justify-content:flex-end;
    margin-right: 30px;
}